<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<title></title>
</head>
<body>

	<div id="form" style="width=570px; margin-left:10px;">
		<label for='nick'>Nickname : </label><input type='text' id='nick' /> <br /><label for='msg'>Message : </label><textarea rows='3' id='msg'></textarea><br /><button id='submit'>Envoyer</button><br />
	</div>
	<div id="viewmsg" style="float:right;"></div>
	<script type="text/template" id="msglist-template">
		<% _.each(messages, function(msg) { %>
			<li><a href="#view/<%= msg.id %>">By <%= msg.author %> (<%= msg.created %>) <i class="icon-eye-open"></i></a>
				<% if (msg.modified) { %>
					<i class="icon-pencil"></i>
					<% } %>
				</li>
				<% }); %>
	</script>

	<div id="msglist"></div>
	<script type="text/template" id="msg-template">
		By <%= author %> (<%= created %>)
		<a class="btn btn-small btn-info moderate" href="#"><i class="icon-pencil"></i> Moderate</a>
		<a class="btn btn-small btn-danger delete" href="/BBone/caencamp"><i class="icon-trash"></i> Delete</a>
		<a class="btn btn-small validate" href="#" style="display:none;"><i class="icon-check" style="color:green;"></i> Valider</a>
		<a class="btn btn-small cancel" href="#" style="display:none;"><i class="icon-check" style="color:red;"></i> Annuler</a><br />
		<span id="editable"><%= msg %></span>
	</script>

	<script src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/backbone-min.js"></script>
	<script type="text/javascript" src="js/script_JS.js"></script>
</body>
</html>